

ion-grid {
  margin: 20px;
}

ion-row {
  height: 3rem;
}

.timetable-cell-content {
  border: 1px solid #ffffff; 
  padding: 8px;
  margin: 5px; 
  border-radius: 4px; 
  color: #ffffff; 
  background-color: #333333; 
}

