<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Timetable
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Timetable</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item *ngIf="selectedProgram || selectedYear" lines="none">
    <ion-label>
      {{ selectedProgram }}
    </ion-label>
    <ion-label>
      {{ selectedYear }}. letnik
    </ion-label>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="2" class="timetable-header">Time</ion-col>
      <ion-col size="2" class="timetable-header">Mon</ion-col>
      <ion-col size="2" class="timetable-header">Tue</ion-col>
      <ion-col size="2" class="timetable-header">Wed</ion-col>
      <ion-col size="2" class="timetable-header">Thu</ion-col>
      <ion-col size="2" class="timetable-header">Fri</ion-col>
    </ion-row>
  
    <ion-row *ngFor="let slot of timetable">
      <ion-col size="2" class="timetable-cell">{{ slot.time }}</ion-col>
  
      <ng-container *ngFor="let day of days">
        <ion-col
          size="2"
          class="timetable-cell"
          *ngIf="getTimetableEntry(slot, day)?.rowSpan !== 0"
          [attr.rowSpan]="getTimetableEntry(slot, day)?.rowSpan">
          <div class="timetable-cell-content" *ngIf="getTimetableEntry(slot, day)">
            <div>{{ getTimetableEntry(slot, day)?.subject }}</div>
            <div>{{ getTimetableEntry(slot, day)?.professor }}</div>
            <div>{{ getTimetableEntry(slot, day)?.classroom }}</div>
          </div>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
  
  
</ion-content>
