<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Condensed Header -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item *ngIf="programs.length === 0" lines="none">
    <ion-label>
      Loading programs...
    </ion-label>
  </ion-item>

  <!-- Program Selection -->
    <ion-item lines="none">
      <ion-select
        *ngIf="programs.length !== 0"
        [(ngModel)]="selectedProgram"
        (ngModelChange)="getProgramYears()"
        aria-label="program"
        placeholder="{{ selectedProgram ? selectedProgram : 'Select Program' }}">
        <ion-select-option *ngFor="let program of programs" [value]="program">
          {{ program.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

  <!-- Show Year Selection if Program is Selected -->
  <ion-item *ngIf="selectedProgram" lines="none">
    <ion-select 
      [(ngModel)]="selectedYear"
      (ngModelChange)="getProgramClasses()" 
      aria-label="year"
      placeholder="{{ selectedYear ? selectedYear + '. letnik' : 'Select Year' }}">
      <ion-select-option *ngFor="let year of years" [value]="year">
        {{ year + '. letnik' }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Show Class List if Program and Year are Selected -->
  <ion-list *ngIf="selectedProgram && selectedYear">
    <ion-item-divider>
      <ion-title>
        CLASS SETTINGS
      </ion-title>
    </ion-item-divider>
    <ion-item *ngFor="let class of classes">
      <ion-label>
        {{ class }}
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" (click)="openClassOptionsModal(class)"></ion-icon>
    </ion-item>
  </ion-list>

  <!-- Modal for Class Options -->
  <ion-modal #classOptionsModal (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-icon slot="start" name="chevron-back-outline" (click)="closeClassOptionsModal()"></ion-icon>
          <ion-title>
            {{ currentClassName }}
          </ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <!-- TODO: update for API, display list of possible Predavanje/RVs -->
        <ion-item>
          Coming soon... &#58;&#41;
        </ion-item>
      </ion-content>

    </ng-template>
  </ion-modal>

</ion-content>

